---
import '../styles/global.css'
// -- Components --
import BusinessCard from "../components/BusinessCard.astro";
import HeroSection from "../components/HeroSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import Sidebar from "../components/Sidebar.astro";
// -- SVGs --
import tssLogo from "../content/icons/ts-logo.svg?raw";
import spruce from "../content/images/spruce-top.svg?raw"
import AboutSection from '../components/AboutSection.astro';
import ContactSection from '../components/ContactSection.astro';
// -- Images --
---
<!doctype html>
<html lang="en">
  <title>Twin Spruce Studio</title>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body >
    <Sidebar />
    <main>
       <!-- Upper Background Gradient -->
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <!-- Spruce Asset -->
      <div class="absolute -top-[15%] left-[25%] wide:left-[35%] -z-5 w-200 rotate-135 overflow-hidden">
        <Fragment set:html={spruce} alt="Spruce" />
      </div>
      <!-- Content -->
      <div>
        <!-- Header -->
        <header id="home" class="absolute inset-x-0 top-0 z-40">
          <nav class="flex items-center justify-between py-1 px-6 wide:p-6" aria-label="Global">
            <div class="flex lg:flex-1">
              <div class="my-3 mx-4">
                <Fragment set:html={tssLogo} alt="Twin Pines Studio Logo" class="h-16 w-auto" />
              <div>
            </div>
          </nav>
        </header>
        <!-- Main Content -->
        <div class="isolate overflow-hidden bg-gradient-to-b from-blue-highlight/10">
          <div class="mx-8 ultra-wide:mx-[15%] multi-col:min-w-content multi-col:max-w-3/8 thin:max-w-2xl wide:max-w-4xl ultra-wide:max-w-5xl py-24 md:mx-40 pb-24 pt-18 sm:pt-24 2xl:pt-36 sm:pb-32">
            <div class="w-full inline grid-cols-1 justify-center multi-col:grid multi-col:justify-items-start lg:gap-x-2 lg:py-18">
              <!-- Hero Section -->
              <HeroSection />
              <!-- Business Card Section -->
              <BusinessCard />
              <!-- Projects Section -->
              <ProjectsSection />
              <!-- About Section -->
              <AboutSection />
              <!-- Contact Section -->
              <ContactSection />
            </div>
          </div>
        </div>
      </div>
      <!--Lower Background Gradient -->
      <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
        <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-purple-highlight opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="absolute inset-x-0 top-[calc(100%+13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%+10rem)] rotate-90" aria-hidden="true">
        <div class="relative left-[calc(105%+3rem)] aspect-[1155/678] w-[32rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-purple-highlight opacity-30 sm:left-[calc(50%+50rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
    </main>
    <script src="../scripts/sidebar.js"></script>
    <script src="../scripts/form.js"></script>
    <script src="../scripts/mobile-sidebar.js"></script>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>	
  </body>
</html>
