---
import Icon from "heroicons-astro/HeroIcon.astro";
---
<h1 id="about-heading" class="relative bottom-4 right-2 sm:right-0 multi-col:right-16 text-7xl sm:text-8xl multi-col:text-10xl wide:text-11xl uppercase outlined text-transparent">About</h1>

<div class="flex flex-row bg-off-white-transparent backdrop-blur-md rounded-md shadow-md p-6 w-full my-6 multi-col:my-12">
  <p class="text-off-black">
    As an engineering student who originally embarked on a journey in Mechanical Engineering, I unexpectedly discovered my true passion for coding during my undergraduate studies. This newfound interest led me to enroll in a full-stack web development bootcamp, all while juggling the responsibilities of a full-time job, to fully immerse myself in the world of software development. 
    <br/> 
    <br/>
    Today, I'm excited to welcome you to my online studio, a platform where I aim to tackle the challenges faced by our community through innovative software solutions. Each project featured here is a testament to my journey and dedication to creating impactful software, one piece at a time.
    <br/> 
    <br/>
    <span class="font-bold">
      - Josh Stubbington
    </span>
  </p>
</div>

<div class="flow-root">
  <ul role="list" class="-mb-8">
    <li>
      <div class="relative pb-8">
        <span class="absolute left-5 top-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
        <div class="relative flex items-start space-x-3">
          <div>
            <div class="relative px-1">
              <div class="flex h-8 w-8 items-center justify-center rounded-full bg-off-black ring-8 ring-white">
                <div class="h-5 w-5 text-off-white">
                  <Icon iconCode="chevron-double-up" />
                </div>
              </div>
            </div>
          </div>
          <div class="min-w-0 flex-1">
            <div>
              <div class="text-sm">
                <a href="#" class="font-medium text-gray-900">Launched Twin Spruce Studios</a>
              </div>
              <p class="mt-0.5 text-sm text-off-black-transparent-dark">Q1 2024</p>
            </div>
            <div class="mt-2 text-sm text-gray-700">
              <p>Twin Spruce Studios is named after the cherished childhood home where I grew up, flanked by two majestic spruce trees that stood as silent witnesses to countless dreams and adventures. This studio embodies the spirit of innovation and resilience instilled in me from those early days, dedicated to crafting software solutions that bring positive change.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="relative pb-8">
        <span class="absolute left-5 top-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
        <div class="relative flex items-start space-x-3">
          <!-- Marker Icon -->
          <div>
            <div class="relative px-1">
              <div class="flex h-8 w-8 items-center justify-center rounded-full bg-off-black ring-8 ring-white">
                <div class="h-4 w-4 text-off-white">
                  <Icon iconCode="code" />
                </div>
              </div>
            </div>
          </div>
          <!-- Marker Content -->
          <div class="min-w-0 flex-1 py-0">
            <div class="text-sm leading-8 text-off-black-transparent-dark">
              <span class="mr-0.5">
                <a href="#" class="font-medium text-gray-900">Graduated from Full Stack Web Development Bootcamp</a>
                August 2020
              </span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="relative pb-8">
        <span class="absolute left-5 top-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
        <div class="relative flex items-start space-x-3">
          <!-- Marker Icon -->
          <div>
            <div class="relative px-1">
              <div class="flex h-8 w-8 items-center justify-center rounded-full bg-off-black ring-8 ring-white">
                <div class="h-4 w-4 text-off-white">
                  <Icon iconCode="briefcase" />
                </div>
              </div>
            </div>
          </div>
          <!-- Marker Content -->
          <div class="min-w-0 flex-1 py-0">
            <div class="text-sm leading-8 text-off-black-transparent-dark">
              <span class="mr-0.5">
                <a href="#" class="font-medium text-gray-900">Started work as a Professional Software Developer</a>
                July 2020
              </span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="relative pb-8">
        <div class="relative flex items-start space-x-3">
          <!-- Marker Icon -->
          <div>
            <div class="relative px-1">
              <div class="flex h-8 w-8 items-center justify-center rounded-full bg-off-black ring-8 ring-white">
                <div class="h-5 w-5 text-off-white">
                  <Icon iconCode="academic-cap" />
                </div>
              </div>
            </div>
          </div>
          <!-- Marker Content -->
          <div class="min-w-0 flex-1 py-0">
            <div class="text-sm leading-8 text-off-black-transparent-dark">
              <span class="mr-0.5">
                <a href="#" class="font-medium text-gray-900">Graduated from Mechanical Engineering Program</a>
                April 2019
              </span>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
