---
import Icon from "heroicons-astro/HeroIcon.astro";
---
<div class="flow-root">
  <ul role="list" class="-mb-8">
    <li>
      <div class="relative pb-8">
        <span class="absolute left-5 top-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
        <div class="relative flex items-start space-x-3">
          <div>
            <div class="relative px-1">
              <div class="flex h-8 w-8 items-center justify-center rounded-full bg-off-black ring-8 ring-white">
                <div class="h-5 w-5 text-off-white">
                  <Icon iconCode="chevron-double-up" />
                </div>
              </div>
            </div>
          </div>
          <div class="min-w-0 flex-1">
            <div>
              <div class="text-sm">
                <a href="#" class="font-medium text-gray-900">Launched Twin Spruce Studios</a>
              </div>
              <p class="mt-0.5 text-sm text-off-black-transparent-dark">Q1 2024</p>
            </div>
            <div class="mt-2 text-sm text-gray-700">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nunc ipsum tempor purus vitae id. Morbi in vestibulum nec varius. Et diam cursus quis sed purus nam. Scelerisque amet elit non sit ut tincidunt condimentum. Nisl ultrices eu venenatis diam.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="relative pb-8">
        <span class="absolute left-5 top-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
        <div class="relative flex items-start space-x-3">
          <!-- Marker Icon -->
          <div>
            <div class="relative px-1">
              <div class="flex h-8 w-8 items-center justify-center rounded-full bg-off-black ring-8 ring-white">
                <div class="h-4 w-4 text-off-white">
                  <Icon iconCode="code" />
                </div>
              </div>
            </div>
          </div>
          <!-- Marker Content -->
          <div class="min-w-0 flex-1 py-0">
            <div class="text-sm leading-8 text-off-black-transparent-dark">
              <span class="mr-0.5">
                <a href="#" class="font-medium text-gray-900">Graduated from Full Stack Web Development Bootcamp</a>
                August 2020
              </span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="relative pb-8">
        <span class="absolute left-5 top-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
        <div class="relative flex items-start space-x-3">
          <!-- Marker Icon -->
          <div>
            <div class="relative px-1">
              <div class="flex h-8 w-8 items-center justify-center rounded-full bg-off-black ring-8 ring-white">
                <div class="h-4 w-4 text-off-white">
                  <Icon iconCode="briefcase" />
                </div>
              </div>
            </div>
          </div>
          <!-- Marker Content -->
          <div class="min-w-0 flex-1 py-0">
            <div class="text-sm leading-8 text-off-black-transparent-dark">
              <span class="mr-0.5">
                <a href="#" class="font-medium text-gray-900">Started work as a Professional Software Developer</a>
                July 2020
              </span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="relative pb-8">
        <div class="relative flex items-start space-x-3">
          <!-- Marker Icon -->
          <div>
            <div class="relative px-1">
              <div class="flex h-8 w-8 items-center justify-center rounded-full bg-off-black ring-8 ring-white">
                <div class="h-5 w-5 text-off-white">
                  <Icon iconCode="academic-cap" />
                </div>
              </div>
            </div>
          </div>
          <!-- Marker Content -->
          <div class="min-w-0 flex-1 py-0">
            <div class="text-sm leading-8 text-off-black-transparent-dark">
              <span class="mr-0.5">
                <a href="#" class="font-medium text-gray-900">Graduated from Mechanical Engineering Program</a>
                April 2019
              </span>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
