<div class="grid grid-cols-1 gap-10 w-full py-32">
  
  <h1 class="relative bottom-12 right-16 text-8xl">Projects</h1>
  <div class="h-24 w-full rounded-md bg-off-white-transparent-dark shadow-md p-4">
    <h3 class="text-lg font-bold">
      Hello World
    </h3>
  </div>
  <div class="h-24 w-full bg-off-white-transparent shadow-lg">
    <h3 class="text-lg font-bold">
      Hello World
    </h3>
  </div>
  <div class="h-24 w-full bg-off-white-transparent shadow-lg">
    <h3 class="text-lg font-bold">
      Hello World
    </h3>
  </div>
</div>