<div class="grid grid-cols-1 gap-10 w-full my-40">
  
  <h1 class="relative bottom-4 right-12 text-9xl uppercase outlined text-transparent">Projects</h1>
  <div class="min-h-content w-full rounded-xl text-off-black font-regular bg-gradient-to-r from-blue-highlight/5 to-purple-highlight/5 shadow-md p-4">
    <h1 class="w-fit text-3xl px-5 font-medium bg-off-white-transparent-dark backdrop-blur-md shadow-lg rounded-full">
      Leftovers
    </h1>
    <div class="flex flex-row w-full justify-between items-center p-4 mt-4">
      <p class="w-1/4 text-md font-regular">

      </p>
      <p class="w-1/2 p-3 text-md font-light bg-off-white-transparent-dark backdrop-blur-md shadow-lg rounded-md">
        Leftovers is a user-friendly app that helps individuals minimize food waste by tracking groceries and pantry contents, providing expiration date reminders, and suggesting recipes to optimize food usage.
      </p>
    </div>
  </div>

</div>