---
import Icon from "heroicons-astro/Heroicon.astro";
// -- Images --
import sideTssLogo from '../content/images/side_tss_logo.svg?raw';

---
<div>
   <!-- Mobile Navbar  -->
  <div class="fixed z-50 flex items-center multi-col:hidden cursor-pointer top-8 end-8">
    <!-- Mobile menu button -->
    <button id="side-menu-button" type="button" class="relative bg-off-white shadow-xl inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-controls="mobile-menu" aria-expanded="false">
      <svg id="hamburger-icon" class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      <svg id="close-icon" class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div> 
  <!-- Mobile menu, show/hide based on menu state. -->
  <div id="mobile-menu" class="fixed flex justify-center w-full inset-x-auto mt-24 hidden z-50" >
    <div class="flex flex-col justify-center w-11/12 bg-off-white rounded-lg shadow-xl">
      <div class="w-full space-y-1 pb-3 pt-2">
        <a id="mobile-home-icon" href="#home" class="flex border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-off-black hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">
          <Icon iconCode="home" iconStyle="solid" customClasses="shrink-0 mr-2 h-5 w-5 text-sm font-medium text-off-black"/>
          Home
        </a>
        <a id="mobile-projects-icon" href="#projects-heading" class="flex border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-off-black hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">
          <Icon iconCode="cube" iconStyle="outline" customClasses="shrink-0 mr-2 h-5 w-5 text-sm font-medium text-off-black"/>
          Projects
        </a>
        <a id="mobile-about-icon" href="#about-heading" class="flex border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-off-black hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">
          <Icon iconCode="user" iconStyle="solid" customClasses="shrink-0 mr-2 h-5 w-5 text-sm font-medium text-off-black"/>
          About
        </a>
        <a id="mobile-contact-icon" href="#contact-heading" class="flex border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-off-black hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">
          <Icon iconCode="bell" iconStyle="outline" customClasses="shrink-0 mr-2 h-5 w-5 text-sm font-medium text-off-black"/>
          Contact
        </a>
      </div>
      <div class="border-t border-gray-200 pb-3 pt-4">
        <div class="flex items-center px-4">
          <div>
            <div class="flex justify-start items-center text-lg font-medium text-off-black">
              <div class="inline h-6 w-8 mr-2">
                <Fragment set:html={sideTssLogo} alt="Twin Pines Studio Logo" />
              </div>
              <div>
                Twin Spruce Studio 
                <span class="font-light text-base text-off-black-transparent-dark"> by Josh Stubbington </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Desktop Navbar -->
  <div class="hidden multi-col:flex fixed inset-y-0 z-50 flex-col">
    <div class="flex grow flex-col overflow-y-auto bg-transparent px-6">
      <nav class="flex flex-1 flex-col">
        <ul role="list" class="flex flex-1 flex-col gap-y-5 items-start justify-center">
          <a href="#home">
            <li id="home-icon" data-tooltip-target="tooltip-home-animation" data-tooltip-placement="right" class="flex justify-center items-center h-16 w-16 bg-off-black rounded-lg hover:scale-112 ease-in-out duration-300 transition">
              <Icon iconCode="home" iconStyle="solid" customClasses="shrink-0 h-6 w-6 text-sm font-medium text-off-white ease-in-out duration-300 transition"/>
            </li>
          </a>
          <div id="tooltip-home-animation" role="tooltip" class="absolute z-10 invisible inline-block top-6 px-3 py-2 text-sm transition-opacity duration-300 font-medium text-white bg-off-black-transparent-dark rounded-lg shadow-sm opacity-0 tooltip ">
            Home
          </div>
          <a href="#projects-heading">
            <li id="projects-icon" data-tooltip-target="tooltip-projects-animation" data-tooltip-placement="right" class="flex justify-center items-center h-16 w-16 bg-off-black rounded-lg hover:scale-112 ease-in-out duration-300 transition ">
              <Icon iconCode="cube" iconStyle="outline" customClasses="shrink-0 h-6 w-6 text-sm font-medium text-off-white ease-in-out duration-300 transition"/>
            </li>
          </a>
          <div id="tooltip-projects-animation" role="tooltip" class="absolute z-10 invisible inline-block top-6 px-3 py-2 text-sm transition-opacity duration-300 font-medium text-white bg-off-black-transparent-dark rounded-lg shadow-sm opacity-0 tooltip">
            Projects
          </div>
          <a href="#about-heading">
            <li id="about-icon" data-tooltip-target="tooltip-about-animation" data-tooltip-placement="right" class="flex justify-center items-center h-16 w-16 bg-off-black rounded-lg hover:scale-112 ease-in-out duration-300 transition ">
              <Icon iconCode="user" iconStyle="solid" customClasses="shrink-0 h-6 w-6 text-sm font-medium text-off-white ease-in-out duration-300 transition"/>
            </li>
          </a>
          <div id="tooltip-about-animation" role="tooltip" class="absolute z-10 invisible inline-block top-6 px-3 py-2 text-sm transition-opacity duration-300 font-medium text-white bg-off-black-transparent-dark rounded-lg shadow-sm opacity-0 tooltip">
            About
          </div>
          <a href="#contact-heading">
            <li id="contact-icon" data-tooltip-target="tooltip-contact-animation" data-tooltip-placement="right" class="flex justify-center items-center h-16 w-16 backdrop-blur-md bg-off-white-transparent backdrop-filter border border-4 border-off-black rounded-lg hover:scale-112 ease-in-out duration-300 transition">
              <Icon iconCode="bell" iconStyle="outline" customClasses="shrink-0 h-6 w-6 text-sm font-medium text-off-black fill-off-white-transparent-dark mix-blend-multiply ease-in-out duration-300 transition"/>
            </li>
          </a>
          <div id="tooltip-contact-animation" role="tooltip" class="absolute z-10 invisible inline-block top-6 px-3 py-2 text-sm transition-opacity duration-300 font-medium text-white bg-off-black-transparent-dark rounded-lg shadow-sm opacity-0 tooltip">
            Contact
          </div>
        </ul>
      </nav>
    </div>
  </div>
</div>
