<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<div>
  <!-- Static sidebar for desktop -->
  <div class="fixed inset-y-0 z-50 flex flex-col">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <div class="flex grow flex-col overflow-y-auto bg-transparent px-5">
      <nav class="flex flex-1 flex-col">
        <ul role="list" class="flex flex-1 flex-col gap-y-5 items-start justify-center">
          <li class="flex justify-center items-center h-16 w-16 bg-off-black rounded-lg hover:scale-125 ease-in-out duration-300 transition">
              <span class="shrink-0 text-sm font-medium text-off-white">Q</span>
          </li>
          <li class="flex justify-center items-center h-16 w-16 bg-off-black rounded-lg hover:scale-125 ease-in-out duration-300 transition">
              <span class="shrink-0 text-sm font-medium text-off-white">W</span>
          </li>
          <li class="flex justify-center items-center h-16 w-16 bg-off-black rounded-lg hover:scale-125 ease-in-out duration-300 transition">
              <span class="shrink-0 text-sm font-medium text-off-white">E</span>
          </li>
          <li class="flex justify-center items-center h-16 w-16 bg-off-black rounded-lg hover:scale-125 ease-in-out duration-300 transition">
              <span class="shrink-0 text-sm font-medium text-off-white">R</span>
          </li>
          <li class="flex justify-center items-center h-16 w-16 bg-off-black rounded-lg hover:scale-125 ease-in-out duration-300 transition">
              <span class="shrink-0 text-sm font-medium text-off-white">T</span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
