<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<div>
  <!-- Static sidebar for desktop -->
  <div class="fixed inset-y-0 z-50 flex flex-col">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-transparent px-8">
      <nav class="flex flex-1 flex-col">
        <ul role="list" class="flex flex-1 flex-col gap-y-7 items-start justify-center">
          <li>
            <ul role="list" class="-mx-2 mt-2 space-y-1">
              <li>
                <!-- Current: "bg-gray-50 text-indigo-600", Default: "text-gray-700 hover:text-indigo-600 hover:bg-gray-50" -->
                <a href="#" class="text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                  <span class="flex h-16 w-16 shrink-0 items-center justify-center rounded-lg border text-sm font-medium bg-off-black text-off-white">Q</span>
                </a>
              </li>
              <li>
                <a href="#" class="text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                  <span class="flex h-16 w-16 shrink-0 items-center justify-center rounded-lg border text-sm font-medium bg-off-black text-off-white">W</span>
                </a>
              </li>
              <li>
                <a href="#" class="text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                  <span class="flex h-16 w-16 shrink-0 items-center justify-center rounded-lg border text-sm font-medium bg-off-black text-off-white">E</span>
                </a>
              </li>
              <li>
                <a href="#" class="text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                  <span class="flex h-16 w-16 shrink-0 items-center justify-center rounded-lg border text-sm font-medium bg-off-black text-off-white">R</span>
                </a>
              </li>
              <li>
                <a href="#" class="text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                  <span class="flex h-16 w-16 shrink-0 items-center justify-center rounded-lg border text-sm font-medium bg-off-black text-off-white">T</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
